.accordian{
    margin-left: 10rem;
    width: 50%;
}
.accordian>h1{
    font-weight: 700;
    letter-spacing: -.02rem;
    font-size: 1.3rem;
    padding-bottom: 0px;
    margin-bottom: 0.5rem;
}
.main-acc{
    border: 1px solid rgb(148, 146, 146) ;
    width: 50%;
    margin-left: 10rem;
}
.each-acc{
    border-bottom: 1px solid rgb(79, 78, 78);
    background-color: #f7f9fa;
}